.sidenav {
  height: 100%;
  width: 13rem;
  position: fixed;
//   z-index: 1;
//   top: 0;
  left: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
//   font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a i {
    padding: 0 10px;
}
.sidenav a span {
    float: right;
}


.sidenav a:hover {
  background-color: #eceaea;
}

// .main {
//   margin-left: 12rem; /* Same as the width of the sidenav */
//   width: 70rem;
// }

// @media screen and (max-height: 450px) {
//   .sidenav {padding-top: 15px;}
//   .sidenav a {font-size: 18px;}
// }