<div class="sidenav">
    <a routerLink="/inbox"><i class="fa fa-inbox"></i> Inbox</a>
    <a routerLink="/spam"><i class="fa fa-ban"></i> Junk Email</a>
    <a routerLink="/draft"><i class="fa fa-pencil"></i> Draft</a>
    <a routerLink="/sent"><i class="fa fa-paper-plane-o"></i> Sent Items</a>
    <a routerLink="/delete"><i class="fa fa-trash-o"></i> Deleted Items</a>
    <a routerLink="/archive"><i class="fa fa-archive"></i> Archive</a>
    <a routerLink="/notes"><i class="fa fa-sticky-note-o"></i> Notes</a>
</div>

<!-- <div class="main">
    <h2>Sidenav Example</h2>
    <p>This sidenav is always shown. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolorem quam delectus
        suscipit cum totam natus tenetur ex, numquam unde vitae amet similique provident in, fugit culpa at laboriosam
        sapiente veniam obcaecati nostrum! Quas commodi obcaecati, quidem ea quod impedit ab reiciendis sint!
        Praesentium nostrum fugiat, mollitia fugit quas tempora!</p>
</div> -->