<nav class="navbar navbar-expand-lg navbar-dark bg-primary top-nav">
    <a class="navbar-brand" href="#"><i class="fa fa-th"></i> <span class="e-nav-brand"><strong> Inlook</strong></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</!-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-skype fa-lg"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-cog fa-lg"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-question fa-lg"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bullhorn fa-lg"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user-circle fa-lg"></i></a>
                </li>
            </ul>
        </form>
    </div>
</nav>